* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-right: 36px;
    cursor: pointer;
}

.btn-header {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    height: 51px;
    width: 124px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

img {
    margin: 163px 0 0 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    /* or 132% */
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    /* or 183% */
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.link-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;

}

@media screen and (max-width: 900px) {

    header {
        display: inline-block;
        width: 100%;
        position: fixed;
    }

    .link-header {
        display: none;
    }

    .btn-header {
        position: fixed;
        left: 60%;
        top: 20px;

    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

    }

    img {
        order: 2;
        max-width: 100%;
        margin: 59px 0 90px;

    }

    section {

        height: auto;
        order: 1;
        margin: 0;

        padding: 20px;
    }

    h1 {
        margin: 76px 55px 0 55px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    p {
        margin: 10px 43px;
        font-size: 18px;
        text-align: center;
        padding: 32px;
    }



    .link-main {

        margin: 26px 139px 159px 170px;



    }

}
